<% @nearby_stores_list.each do |shop| %>
<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= shop['title'] %></h5>
    <p class="shop_status">
      <span class="text-danger">Unregistered</span>
    </p>
    <p class="card-text"><b>Address:</b> <%= shop['vicinity'] %></p>
  </div>
</div>
<% end %>
