<div class="alert alert-success" role="alert">
  <% if user_signed_in? %>
    <h4 class="alert-heading">Hello (store name)!</h4>
    <p>You are a star, you are really helping the world to maintain social distancing</p>
    <a class="btn btn-outline-success" href="/manage_store" role="button">Manage your store</a>
    <a class="btn btn-outline-success" href="/edit_store" role="button">Edit your store</a>
  <% else %>
    <h4 class="alert-heading">Hello!</h4>
    <p>If you are a store, please help customer to maintain social distancing by logging in or registering.</p>
    <a class="btn btn-outline-success" href="<%= new_user_session_path %>" role="button">Login</a>
    <a class="btn btn-outline-success" href="<%= new_user_registration_path %>" role="button">Register</a>
  <% end %>
</div>

<div id="locationField">
  <div class="input-group mb-3">
    <input id="autocomplete" type="text" class="form-control" aria-describedby="basic-addon1" placeholder="Enter your addreess" />
    <div class="input-group-append" id="getLocation">
      <span class="input-group-text" id="basic-addon1"><i class="fas fa-map-marker-alt"></i></span>
    </div>
  </div>
</div>

<div id="nearby_stores">
<% if @shops %>
  <%= render partial: 'shared/nearby' %>
<% end %>
</div>
